{% extends "base.html" %}

{% block titulo %} lista estudiantes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href="{% url 'crear' %}" role="button">agregar estudiante</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">estudiantes</h4>

        <table class="table">
                <thead>
                    <tr>
                        <th>codigo</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>número documento</th>
                        <th>número telefono</th>
                        <th>fecha ingreso</th>
                        <th>foto</th>
                        <th>semestre</th>
                        <th>promedio</th>
                        <th>estado</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for Estudiante in estudiantes %}
                        <tr>
                            <td>{{Estudiante.codigo}}</td>
                            <td>{{Estudiante.nombre}}</td>
                            <td>{{Estudiante.apellido}}</td>
                            <td>{{Estudiante.numeroDocumento}}</td>
                            <td>{{Estudiante.numeroTelefono}}</td>
                            <td>{{Estudiante.fecha}}</td>
                            <td>
                            <img src="{{Estudiante.imagen.url }}" height="100"/>
                            </td>
                            <td>{{Estudiante.semestre}}</td>
                            <td>{{Estudiante.promedio}}</td>
                            <td>{{Estudiante.activo}}</td>
                                <a name="" id="" class="btn btn-primary" href="{% url 'editar' %}" role="button">Editar</a> 
                                |<a name="" id="" class="btn btn-danger" href="{#}" role="button">Borrar</a> |
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}

 
