{% extends "base.html" %}

{% block titulo %} lista estudiantes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        lista salas
    </div>
    <div class="card-body">
        <h4 class="card-title">salas</h4>

        <table class="table">
                <thead>
                    <tr>
                        <th>edificio</th>
                        <th>número de sala</th>
                        <th>monitor</th>
                        <th>fecha</th>
                        <th>hora</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>204</td>
                            <td>guzman</td>
                            <td>hora</td>
                            <td>EDITAR | BORRAR |</td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}

 
